@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../assets/img/img.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#loginPage,
#singUpPage {
  width: 420px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}
#loginPage h1,
#singUpPage h1 {
  font-size: 36px;
  text-align: center;
}
#loginPage .inputBox,
#singUpPage .inputBox {
  width: 100%;
  height: 50px;
  margin: 30px 0;
  position: relative;
}
#loginPage .inputBox input,
#singUpPage .inputBox input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
#loginPage .inputBox input::placeholder,
#singUpPage .inputBox input::placeholder {
  color: #fff;
}
#loginPage .inputBox i,
#singUpPage .inputBox i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
#loginPage .btn,
#singUpPage .btn {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin: 20px 0 15px;
}

#taskPage {
  width: 100%;
  max-width: 540px;
  background-color: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  height: 600px;
}
#taskPage h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#taskPage h2 i {
  width: 30px;
  margin-left: 10px;
  color: #330a6a;
}
#taskPage .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edeef0;
  color: #330a6a;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
#taskPage .row input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}
#taskPage .row input::placeholder {
  color: #330a6a;
}
#taskPage .row button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #330a6a;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

ul {
  list-style: none;
  padding: 0;
}
ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px;
  user-select: none;
  display: grid;
  grid-template-columns: 28px auto 40px;
  align-items: center;
}
ul li::before {
  content: "";
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(../assets/img/icons8-círculo-50.png);
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}
ul li span {
  width: 40px;
  height: 40px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
ul li span:hover {
  background-color: #edeef0;
}
ul li:not(.hecho) {
  text-decoration: none;
}
ul li.hecho {
  color: #555;
  text-decoration: line-through;
}
ul li.hecho > span {
  text-decoration: none;
}
ul li.hecho::before {
  background-image: url(../assets/img/icons8-botón-de-radio-comprobado-48.png);
}

.oculto {
  display: none;
}

/*# sourceMappingURL=style.css.map */
